services:
  students-service:
    image: nginx:alpine
    ports:
      - "3001:80"
    volumes:
      - /opt/school-mgmt/html/students:/usr/share/nginx/html:ro
    restart: unless-stopped

  courses-service:
    image: nginx:alpine
    ports:
      - "3002:80"
    volumes:
      - /opt/school-mgmt/html/courses:/usr/share/nginx/html:ro
    restart: unless-stopped
